<%# 権限チェックに通らない場合に表示される %>
<%= content_tag(:div, flash[:alert], class: "alert alert-danger") if flash[:alert] %>
<h1>Menus#index</h1>
<p>Find me in app/views/menus/index.html.erb</p>
<br>

<%= link_to "ユーザー一覧ページ", users_index_path %><br>
<%= link_to "顧客管理ページ", clients_path %><br>
<%= link_to "単価表管理ページ", price_scales_path %><br>
<%= link_to "見積書管理ページ", quotations_path %>