<div class="menu-main">

  <div class="menu-upper-contents">

    <div class="menu-left-content">

      <%= link_to "見積書一覧", quotations_path, class: "main-content-link btn" %>

      <div class="table-title">最新見積20件</div>

      <div class="new-quotation-list">

        <table>

          <% @quotations.each do |quotation| %>
            <tr>
              <td class="data"><%= quotation.created_at.strftime('%y/%m/%d') %></td>
              <td class="name"><%= quotation.client.name %></td>
              <td class="title"><div class="title-hidden"><%= link_to quotation.title, edit_quotation_path(quotation.id)%></div></td>
              <% total_price = 0 %>
              <% quotation.drawings.each do |drawing| %>
                <% total_price += drawing.price * drawing.quantity %>
              <% end %>
              <td class="price"><%= total_price %>円</td>
            </tr>
          <% end %>

        </table>

      </div>

    </div>

    <div class="menu-right-contents">

        <%= link_to '見積新規登録', new_quotation_path, class: "main-content-link btn" %>
        <%= link_to "見積承認(#{@appro_count})", approvals_path, class: "main-content-link btn" %>
        <%= link_to "見積差戻し(#{@appro_not_count})", index2_approvals_path, class: "main-content-link btn" %>
        <%= link_to "見積印刷(#{@print_count})", printings_path, class: "main-content-link btn" %>

    </div>

  </div>

  <div class="menu-under-contents">
    <%= link_to "ユーザー一覧", users_index_path, class: "sub-content btn" %>
    <%= link_to "顧客管理", clients_path, class: "sub-content btn" %>
    <%= link_to "単価表管理", price_scales_path, class: "sub-content btn" %>
    <%= link_to "図面一覧", drawings_path, class: "sub-content btn" %>
  </div>

</div>