<%# 権限チェックに通らない場合に表示される %>
<%= content_tag(:div, flash[:alert], class: "alert alert-danger") if flash[:alert] %>
<h1>Menus#index</h1>
<p>Find me in app/views/menus/index.html.erb</p>
<br>

<p><%= link_to "ユーザー一覧ページ", users_index_path %></p>
<p><%= link_to "顧客管理ページ", clients_path %></p>
<p><%= link_to "単価表管理ページ", price_scales_path %></p>
<p><%= link_to "見積書一覧", quotations_path %></p>
<p><%= link_to '見積新規登録', new_quotation_path %></p>
<p><%= link_to '見積承認待ち', approvals_path %></p>
<p><%= link_to '見積印刷待ち', printings_path %></p>