<%# 権限チェックに通らない場合に表示される %>
<%= content_tag(:div, flash[:alert], class: "alert alert-danger") if flash[:alert] %>

<div class="menu-main">

  <div class="menu-upper-contents">

    <div class="menu-left-content">

      <%= link_to "見積書一覧", quotations_path, class: "main-content btn" %>

      <div class="new-quotation-list">

        <table>

          <% @quotations.each do |quotation| %>
            <tr>
              <td><%= quotation.created_at.strftime('%y/%m/%d') %></td>
              <td><%= quotation.client.name %></td>
              <td><%= link_to quotation.title, edit_quotation_path(quotation.id) %></td>
              <td><%= quotation.total_price %></td>
            </tr>
          <% end %>

        </table>

      </div>

    </div>

    <div class="menu-right-contents">

        <%= link_to '見積新規登録', new_quotation_path, class: "main-content btn" %>
        <%= link_to "見積承認(#{@appro_count})", approvals_path, class: "main-content btn" %>
        <%= link_to "見積印刷(#{@print_count})", printings_path, class: "main-content btn" %>

    </div>

  </div>

  <div class="menu-under-contents">
    <%= link_to "ユーザー一覧", users_index_path, class: "sub-content btn" %>
    <%= link_to "顧客管理", clients_path, class: "sub-content btn" %>
    <%= link_to "単価表管理", price_scales_path, class: "sub-content btn" %>
  </div>

</div>