<div class="main-bord contents">

  <h1 class="content-title">新規ユーザー登録</h2>

  <%= form_with model: @user, url: user_registration_path, local: true do |f| %>  
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="new-user-item">

    <div class="new-user-label">
      <%= f.label :employee_number, "社員番号" %>
    </div>
    <div class="new-user-field">
      <%= f.text_field :employee_number, autofocus: true, autocomplete: "employee_number" %>
    </div>

  </div>

  <div class="new-user-item">

    <div class="new-user-label">

    <%= f.label :password, "パスワード" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    </div>
    <div class="new-user-field">
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

  </div>

  <div class="new-user-item">

    <div class="new-user-label">
      <%= f.label :password_confirmation, "パスワード(再入力)" %>
    </div>
    <div class="new-user-field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

  </div>

  <div class="new-user-item">

    <div class="new-user-label">
      <%= f.label :name, "氏名" %>
    </div>
    <div class="new-user-field">
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

  </div>

  <div class="new-user-item">

    <div class="new-user-label">
      <%= f.label :admin_id, "権限" %>
    </div>
    <div class="new-user-field">
      <%= f.collection_select(:admin_id, Admin.all, :id, :name, {}, {}) %>
    </div>

  </div>

  <div class="new-user-item">
    <%= f.submit "登録", class: "btn--form center"  %>
  </div>

<% end %>
</div>