<div class="main-bord contents">

  <h1 class="content-title">新規ユーザー登録</h2>

  <%= form_with model: @user, url: user_registration_path, html: {autocomplete: 'off'}, local: true do |f| %>  
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">

      <%= f.label :employee_number, "社員番号", class: "field__label" %>
      <%= f.text_field :employee_number, autofocus: true, class: "field__input one-column-form__input--text", id: "input-employee-number", placeholder: "社員番号" %>

  </div>

  <div class="field">

    <%= f.label :password, "パスワード", class: "field__label" %>
    <%= f.password_field :password, class: "field__input one-column-form__input--text", id: "input-password", placeholder: "パスワード" %>

  </div>

  <div class="field">

      <%= f.label :password_confirmation, "パスワード(再入力)", class: "field__label" %>
      <%= f.password_field :password_confirmation, class: "field__input one-column-form__input--text", id: "input-password", placeholder: "パスワード(再入力)" %>

  </div>

  <div class="field">

      <%= f.label :name, "氏名", class: "field__label" %>
      <%= f.text_field :name, class: "field__input one-column-form__input--text", id: "input-password", placeholder: "氏名" %>

  </div>

  <div class="field">

      <%= f.label :admin_id, "権限", class: "field__label" %>
      <%= f.collection_select(:admin_id, Admin.all, :id, :name, {}, {class: "field__input one-column-form__input--text", id: "input-password", placeholder: "権限"}) %>

  </div>

  <div class="new-user-item">
    <%= f.submit "登録", class: "btn--form center"  %>
  </div>

<% end %>
</div>