<div class="main-bord">

  <div class="contents">

    <h1 class="content-title">図面一覧</h1>

    <div class="drawings-table-space">

      <div class="drawings-table-title">

        <div class="table-row">
          <div class="drawings-table-id">図面No</div>
          <div class="drawings-table-quotation">見積No</div>
          <div class="drawings-table-drawing">図番</div>
          <div class="drawings-table-name">品名</div>
          <div class="drawings-table-material">材質</div>
          <div class="drawings-table-size">寸法</div>
          <div class="drawings-table-weight">重量<span class="unit">(kg)</span></div>
          <div class="drawings-table-area">面積<span class="unit">(dm<sup>2</sup>)</span></div>
          <div class="drawings-table-surface">表面処理</div>
          <div class="drawings-table-quantity">数量</div>
          <div class="drawings-table-price">単価</div>
          <div class="drawings-table-notes">適用</div>
          <div class="drawings-table-btn"></div>
        </div>

      </div>

      <div class="drawings-table-contents">

        <%# number:奇数、偶数判定用変数 %>
        <% number = 0 %>

        <% @drawings.each do |drawing| %>

          <% number += 1 %>
          <% number % 2 ==  0 ? table_number = "even" : table_number = "odo" %>

          <div class="table-row <% table_number %>">
            <div class="drawings-table-id"><%= sprintf('%07d', drawing.id) %></div>
            <div class="drawings-table-quotation"><%= sprintf('%07d', drawing.quotation_id) %></div>
            <div class="drawings-table-drawing"><%= drawing.figure_number %></div>
            <div class="drawings-table-name"><%= drawing.product_name %></div>
            <div class="drawings-table-material"><%= drawing.material %></div>
            <div class="drawings-table-size"><%= drawing.size %></div>
            <div class="drawings-table-weight"><%= drawing.weight.round(1) %></div>
            <div class="drawings-table-area"><%= drawing.area.round(1) %></div>
            <div class="drawings-table-surface"><%= drawing.surface_treatment %></div>
            <div class="drawings-table-quantity"><%= drawing.quantity %></div>
            <div class="drawings-table-price"><%= drawing.price %></div>
            <div class="drawings-table-notes"><%= drawing.notes %></div>
            <div class="drawings-table-btn"><%= link_to '編集', edit_quotation_drawing_path(drawing.quotation_id, drawing.id), class: "table-btn" %></div>
          </div>

        <% end %>
        
      </div>

    </div>

    <%= link_to '戻る', root_path, class: "btn btn--orange btn--radius back"  %>


  </div>

</div>