<%= form_with(model: client, local: true) do |f| %>

  <%= render 'shared/error_messages', model: f.object %>

  <div class="new-client-item">

    <div class="new-client-label">
      <%= f.label :name, "顧客名" %><span class="required">※</span>
    </div>
    <div class="new-client-field">
      <%= f.text_field :name %>
    </div>

  </div>

  <div class="new-client-item">

    <div class="new-client-label">
      <%= f.label :name_kana, "ふりがな" %><span class="required">※</span>
    </div>
    <div class="new-client-field">
      <%= f.text_field :name_kana %>
    </div>

  </div>


  <div class="new-client-item">

    <div class="new-client-label">
      <%= f.label :phone_number, "電話番号" %>
    </div>
    <div class="new-client-field">
      <%= f.text_field :phone_number%>
    </div>

  </div>

  <div class="new-client-item">

    <div class="new-client-label">
      <%= f.label :fax_number, "FAX番号" %> 
    </div>
    <div class="new-client-field">
      <%= f.text_field :fax_number %>
    </div>

  </div>

    <div class="new-client-item">

    <div class="new-client-label">
      <%= f.label :email, "E-mail" %>
    </div>
    <div class="new-client-field">
      <%= f.text_field :email %>
    </div>

  </div>

  <div class="new-client-item">

    <div class="new-client-label">
      <%= f.label :postal_code, "郵便番号" %>
    </div>
    <div class="new-client-field">
      <%= f.text_field :postal_code %>
    </div>

  </div>

  <div class="new-client-item">

    <div class="new-client-label">
      <%= f.label :address, "住所" %>
    </div>
    <div class="new-client-field">
      <%= f.text_field :address %>
    </div>

  </div>

  <div class="new-client-item">

    <div class="new-client-label">
      <%= f.label :person, "人名" %>
    </div>
    <div class="new-client-field">
      <%= f.text_area :person %>
    </div>

  </div>

  <div class="new-client-item">

    <div class="new-client-label">
      <%= f.label :remarks, "備考" %>
    </div>
    <div class="new-client-field">
      <%= f.text_area :remarks %>
    </div>

  </div>

  <% if user_signed_in? && current_user.has_role?(:admin) %>

    <div class="new-client-item">
      <%= f.submit "保存", class: "btn--form center" %>
    </div>

  <% end %>

<% end %>