<div class="main-bord">

  <div class="contents client-edit">


    <div class="edit-client-item">

      作成日時:<%= @client.created_at.to_s(:datetime_jp) %>

    </div>

    <div class="edit-client-item">
      最終更新:<%= @client.updated_at.to_s(:datetime_jp) %>
    </div>

    <%= render partial: "form", locals: { client: @client } %>

    <div class="client-link-area">
      <%= link_to "戻る", clients_path, class: "btn btn--orange" %>
      <%= link_to "削除", client_path(@client.id), method: :delete, class: "btn btn--delete" %>
    </div>

  </div>

</div>