<div class="main-bord">

  <div class="contents client-edit">


    <div class="edit-client-item">

      作成日時:<%= @client.created_at.to_s(:datetime_jp) %>

    </div>

    <div class="edit-client-item">
      最終更新:<%= @client.updated_at.to_s(:datetime_jp) %>
    </div>

    <%= render partial: "form", locals: { client: @client } %>

    <div class="client-link-area">
      <%= link_to "戻る", clients_path, class: "btn btn--orange" %>

      <% if user_signed_in? && current_user.has_role?(:admin) %>

        <%= link_to "", client_path(@client.id), method: :delete, id: "item-delete" %>

        <a id="modal-open" class="btn btn--delete">削除</a>
        
      <% end %>

    </div>

    <%# 削除選択時モーダルウィンドウを表示する(デフォルトは非表示) %>
    <div id="modal-overlay">

      <div id="modal-content">
        <div class="modal-message">
          <p>削除してよろしいですか？</p>
          <p>顧客名<%= @client.name %></p>
        </div>
        <div class="modal-button-area">
          <p><a id="modal-close" class="btn btn--cancel">キャンセル</a></p>
          <p><a id="modal-delete" class="btn btn--delete">削除</a></p>
        </div>
      </div>

    </div>

  </div>

</div>