<div class="main-bord">

  <div class="contents client-index">

    <h1 class="content-title">顧客一覧</h1>

    <%# 管理者ユーザーのみ新規投稿ボタンを表示 %>
    <% if user_signed_in? && current_user.has_role?(:admin) %>

      <div class="link-area">
        <%= link_to "新規登録", new_client_path, class: "post", class: "btn btn--orange" %>
      </div>

    <% end %>

    <div class="client-list">

      <%# タブ部分 %>
      <ul class="tab-list list-unstyled">
        <li class="tab tab-active">
          あ
        </li>
        <li class="tab">
          か
        </li>
        <li class="tab">
          さ
        </li>
        <li class="tab">
          た
        </li>
        <li class="tab">
          な
        </li>
        <li class="tab">
          は
        </li>
        <li class="tab">
          ま
        </li>
        <li class="tab">
          や
        </li>
        <li class="tab">
          ら
        </li>
        <li class="tab">
          わ
        </li>
      </ul>

      <%# タブで選択された部分 %>
      <div class="tabbox-contents">

        <%# デフォルトで表示される要素 %>
        <div class="tabbox box-show">

          <table>

            <tr>
              <th class="name">顧客名</th>
              <th class="kana">ふりがな</th>
              <th class="phone-number">電話番号</th>
              <th class="fax-number">FAX番号</th>
              <th class="address">所在地</th>
            </tr>
            <% @type_clients[0].each do |client| %>
              <tr>
                <td><%= link_to client.name, edit_client_path(client.id) %></td>
                <td><%= client.name_kana %></td>
                <td><%= client.phone_number %></td>
                <td><%= client.fax_number %></td>
                <td><%= client.address %></td>
              </tr>
            <% end %>

          </table>

        </div>
        
        <%# デフォルトでは隠されている要素 %>
        <% (1..9).each do |i| %>

          <div class="tabbox">

            <table>

              <tr>
                <th class="name">顧客名</th>
                <th class="kana">ふりがな</th>
                <th class="phone-number">電話番号</th>
                <th class="fax-number">FAX番号</th>
                <th class="address">所在地</th>
              </tr>
              <% @type_clients[i].each do |client| %>
                <tr>
                  <td><%= link_to client.name, edit_client_path(client.id) %></td>
                  <td><%= client.name_kana %></td>
                  <td><%= client.phone_number %></td>
                  <td><%= client.fax_number %></td>
                  <td><%= client.address %></td>
                </tr>
              <% end %>

            </table>

          </div>

        <% end %>

      </div>

    </div>

        <%= link_to "戻る", root_path, class: "btn btn--orange btn--radius back" %>

  </div>

</div>