<div class="nested-fields">
<br>
=============================================
<br>
<%= f.label :figure_number, "図番" %>
<%= f.text_field :figure_number %>
<br>
<%= f.label :product_name, "品名" %>
<%= f.text_field :product_name %>
<br>
<%= f.label :material, "材質" %>
<%= f.text_field :material %>
<br>
<%= f.label :size, "寸法" %>
<%= f.text_field :size %>
<br>
<%= f.label :surface_treatment, "表面処理" %>
<%= f.text_field :surface_treatment %>
<br>
<%= f.label :price_scale_id, "単価カテゴリ" %>
<%= f.collection_select(:price_scale_id, @price_scales, :id, :title, include_blank: "選択してください" ) %>
<br>
<%= f.label :quantity, "数量" %>
<%= f.text_field :quantity %>
<br>
<%= f.label :price, "単価" %>
<%= f.text_field :price %>
<br>
<%= f.label :notes, "摘要" %>
<%= f.text_field :notes %>
<br>
<%= link_to_remove_association "削除", f %>
<br>
</div>