<div class="main-bord">

  <div class="contents">

    <h1 class="content-title">見積編集</h1>

      <%= render partial: "form", locals: { quotation: @quotation, clients: @clients } %>

      <% total_price = 0 %>

      <div class="drawings-list-area">

        <% @drawings.each do |drawing| %>

          <%= render "drawings_list", drawing: drawing %>

          <% total_price += drawing.price * drawing.quantity %>

        <% end %>

      </div>

      <div class="total-price-area">

        <div class="notax-area">

          <div class="title-area">
            小計
          </div>
          <div class="price-output-area">
            <%= total_price %>円
          </div>

        </div>
        <div class="tax-area">

          <div class="title-area">
            消費税
          </div>
          <div class="price-output-area">
            <% tax = total_price * 0.1 %>
            <%= tax.floor %>円
          </div>
        
        </div>
        <div class="taxin-area">

          <div class="title-area">
            税込合計
          </div>
          <div class="price-output-area">
            <%= total_price + tax.floor %>円
          </div>

        </div>

      </div>

    <div class="quotation-link-area">

      <%= link_to "印刷", printing_path(@quotation.id), class: "btn btn--orange" %>
      <%= link_to "戻る", index_quotations_client_path(@quotation.client_id), class: "btn btn--orange" %>
      <a id="modal-open" class="btn btn--delete">削除</a>

    </div>


  </div>

</div>


<%# モーダルウィンドウにてjavascriptから指定して削除する %>
  <%= link_to "", quotation_path(@quotation.id), method: :delete, id: "item-delete" %>

<%# 削除選択時モーダルウィンドウを表示する(デフォルトは非表示) %>
  <div id="modal-overlay">

    <div id="modal-content">
      <div class="modal-message">
        <p>削除してよろしいですか？</p>
        <p>見積タイトル：<%= @quotation.title %></p>
        <p>顧客名：<%= @quotation.client.name %></p>
      </div>
      <div class="modal-button-area">
        <p><a id="modal-close" class="btn btn--cancel">キャンセル</a></p>
        <p><a id="modal-delete" class="btn btn--delete">削除</a></p>
      </div>
    </div>

  </div>