<div class="main-bord">

  <div class="contents">

    <h1 class="content-title">ログイン</h2>

    <div class="form-area">
    <%= form_with model: @user, url: user_session_path, local: true do |f| %>

      <div class="field">

        <%= f.label :employee_number, "社員番号", class: "field__label" %>
        <%= f.text_field :employee_number, class: "field__input one-column-form__input--text" %>

      </div>

      <div class="field">

        <%= f.label :password, "パスワード", class: "field__label" %>
        <%= f.password_field :password, class: "field__input one-column-form__input--text"%>

      </div>

      <% if devise_mapping.rememberable? %>

        <div class="new-session-item">

          <div class="new-session-label">
            <%= f.label :remember_me %>
          </div>
          <div class="new-session-field">
            <%= f.check_box :remember_me %>
          </div>

        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn--form"%>
      </div>
    <% end %>
    </div>
  </div>
</div>