<%= form_with(model: price_scale, local: true) do |f| %>
<%= f.label :title, "タイトル" %>
<%= f.text_field :title %>
<br>
<%= f.label :surface_treatment, "処理名" %>
<%= f.text_field :surface_treatment %>
<div class="price-scale-form">
<table class="design01">
 <tr>
  <th></th>
  <th>0 ≦ x < 3</th>
  <th>3 ≦ x < 6</th>
  <th>6 ≦ x < 10</th>
  <th>10 ≦ x < 15</th>
  <th>15 ≦ x < 22</th>
  <th>22 ≦ x < 30</th>
  <th>30 ≦ x < 40</th>
  <th>40 ≦ x < 55</th>
  <th>55 ≦ x < 75</th>
  <th>75 ≦ x < 100</th>
  <th>100 ≦ x</th>
  </tr>
 <tr>
  <th>面積</th>
  <td><%= f.text_field :scale_a_0_3 %></td>
  <td><%= f.text_field :scale_a_3_6 %></td>
  <td><%= f.text_field :scale_a_6_10 %></td>
  <td><%= f.text_field :scale_a_10_15 %></td>
  <td><%= f.text_field :scale_a_15_22 %></td>
  <td><%= f.text_field :scale_a_22_30%></td>
  <td><%= f.text_field :scale_a_30_40 %></td>
  <td><%= f.text_field :scale_a_40_55 %></td>
  <td><%= f.text_field :scale_a_55_75 %></td>
  <td><%= f.text_field :scale_a_75_100 %></td>
  <td><%= f.text_field :scale_a_100over %></td>
 </tr>
 <tr>
  <th>重量</th>
  <td><%= f.text_field :scale_w_0_3 %></td>
  <td><%= f.text_field :scale_w_3_6 %></td>
  <td><%= f.text_field :scale_w_6_10 %></td>
  <td><%= f.text_field :scale_w_10_15 %></td>
  <td><%= f.text_field :scale_w_15_22 %></td>
  <td><%= f.text_field :scale_w_22_30%></td>
  <td><%= f.text_field :scale_w_30_40 %></td>
  <td><%= f.text_field :scale_w_40_55 %></td>
  <td><%= f.text_field :scale_w_55_75 %></td>
  <td><%= f.text_field :scale_w_75_100 %></td>
  <td><%= f.text_field :scale_w_100over %></td>
 </tr>
</table>
<br>
<table class="design01">
  <tr>
    <th></th>
    <th>0 ≦ x < 300</th>
    <th>300 ≦ x < 500</th>
    <th>500 ≦ x < 1000</th>
  </tr>
  <tr>
    <th>外径合計</th>
    <td><%= f.text_field :scale_o_0_300 %></td>
    <td><%= f.text_field :scale_o_300_500 %></td>
    <td><%= f.text_field :scale_o_500over %></td>
  </tr>
</table>
</div>
<%= f.submit "保存" %>
<% end %>