<!DOCTYPE html>
<html>
  <head>
    <title>QuotationSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>  
    <header class="header">

        <div class="header-contents">

          <div class="header-title">

            <%= link_to "見積作成システム", root_path %>
          
          </div>

          <div class="header-menu">

            <ul>
              <li><%= link_to "見積一覧", quotations_path %></li>
              <li><%= link_to "見積登録", new_quotation_path %></li>
              <li><%= link_to "見積承認", approvals_path %></li>
              <li><%= link_to "見積印刷", printings_path %></li>
            </ul>

          </div>

          <div class="header-user">

            <% if !user_signed_in? %>
              <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <% else %>
              <%= current_user.name %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <% end %>

          </div>

        </div>

    </header>

    <div class="info">

      <%# 権限チェックに通らない場合に表示される %>
      <%= content_tag(:div, content_tag(:p, flash[:alert], class: "alert-word"), class: "alert") if flash[:alert] %>

    </div>

    <%= yield %>

  </body>

</html>
